.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  height: 70%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
