.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;

  grid-row: 2;
  grid-column: span 2;
}

/* Tablet */
@media (max-width: 768px) {
  .content {
    width: 100%;
    flex-direction: column;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .content {
    justify-content: center;
    align-items: center;
  }
}
