.info {
  margin-left: 20px;
}
.info .imdb {
  width: 98px;
  height: 44.36px;
}
.info .luca {
  position: relative;
  right: 8%;
}
.info p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.info button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;

  font-size: 16px;
  font-weight: 500;
  color: #ffffff;

  padding: 26px 36px;
  width: 215px;
  height: 50px;

  border: none;
  border-radius: 50px;

  background: linear-gradient(154.23deg, #0f3a7b -58.45%, #0cffff 374.49%);
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.160784);
  cursor: pointer;
}
.info button .play-icon {
  width: 20px;
  height: 20px;
}

/* Tablet */
@media (max-width: 768px) {
  .info .genre {
    font-size: 14px;
  }
  .info .description {
    font-size: 18px;
  }
  .info .luca {
    right: 6%;
    width: 50%;
    height: 50%;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .info .luca {
    right: 11%;
    width: 100%;
    height: 50%;
  }
}
