/* .cards {
  border: 10px solid pink;
} */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px 0px;

  /* width: 300px;
  height: 200px; */

  border-radius: 8px;
}
.card .overlay {
  width: 250px;
  border-radius: 8px;
}
.card p {
  position: absolute;
  place-self: flex-start;

  margin: 90px 0px 0px 10px;

  font-size: 14px;
  font-weight: 400;
  color: #fff;

  /* border: 3px solid yellow; */
}
.card .title {
  font-size: 16px;
  font-weight: 600;
}

.card .player {
  position: absolute;
  /* border: 3px solid yellow; */
}

/* .card:nth-child(even) {
  border: 5px solid red;
}
.card:nth-child(odd) {
  border: 5px solid green;
} */

/* Tablet */
@media (max-width: 768px) {
  .movies {
    margin-top: 90px;
  }
  .card {
    width: 250px;
    border-radius: 8px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
  }
  .card {
    width: 250px;
    border-radius: 8px;
  }
}
